*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

h1 .marketing{
    font-size:4rem;
    color: rgb(138, 43, 226);
    font-weight:bold;
}

.img{
    transform: translate(368deg);
}
div .beneficios {
    background-image: linear-gradient(blueviolet, violet);
}
.marketing:hover{
    color:rgb(127, 255, 212);
    
}
.img:hover{
    scale: (0.5, 0.5);
    transition: all 3s ease;

}

.img{
    width: 100%;
    max-width: 400px;
    border: 2px double;
    background-color: aliceblue;
}

/*inicio MQ*/
@media only screen and (max-width: 768px) {
    scroll-behavior: smooth;
    display:grid;
    grid-template-columns:4fr;
    grid-template-row:4fr;
}


/*fin MQ*/
